.kimera-typetester.is-inverted {
  background: var(--black) !important;
  color: var(--kimera-white) !important;

  &:hover {
    background: var(--black) !important;
  }

  .typetester-inner {
    ::selection {
      color: var(--black);
      background: var(--kimera-white);
    }
  }
}

content-editable {
  white-space: pre;
  // min-width: 250px;
  cursor: auto;
  outline: none;
  div,
  span {
    font-family: inherit !important;
    font-size: inherit !important;
    letter-spacing: inherit !important;
    line-height: inherit !important;
    font-weight: inherit !important;
    font-stretch: inherit !important;
    font-style: inherit !important;
    font-feature-settings: inherit !important;
  }
  @include until($tablet) {
    min-width: auto;
  }
}

.kimera-typetester {
  position: relative;

  &.is-preview {
    // min-height: 25rem;
    // min-height: min(25rem, 45vh);
    // min-height: max(30em, 33vh);
    max-height: 100vh;
    // height: 33vh;
    position: relative;

    .typetester-inner {
      pointer-events: none;
      display: flex;
      flex-direction: column;
      align-items: unset !important;
      max-width: 100%;
      white-space: pre;
      // transition: transform 0.2s ease;
    }
    &.is-user-created {
      min-height: min(25rem, 45vh);
      padding: 4rem 0;
      // height: 100%;
    }
  }
  overflow: hidden;
  transition: $typetester-invert-transition;
  background: var(--white);
  border-radius: var(--kimera-border-radius);
  cursor: pointer;

  &.is-preview:hover {
    background: var(--kimera-white);

    .typetester-inner {
      // transform: translateY(.75rem);
    }
  }
  container-type: inline-size;
  .typetester-inner {
    padding: 1rem;
    height: 100%;
    transition: opacity 0.1s ease;
    max-height: 100vh;
    overflow: hidden;
    // pointer-events: none;
    &:focus {
      outline: none;
    }
    .editable-text {
    }
    @include until($tablet) {
      // margin: 1rem;
      height: calc(80%);
    }
    // .editable-text-initial-fontsize {
    //   font-size: min(12cqw, 30cqh) !important;
    // }
  }
  &:not(.is-user-created) .typetester-inner {
    font-size: min(12cqw, 30cqh) !important;
  }
  &:not(.is-user-created) .typetester-inner .editable-text-initial-fontsize {
    font-size: min(12cqw, 30cqh) !important;
  }

  .typetester-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: var(--kimera-small-gap);
    pointer-events: none;

    .close,
    .toggle {
      pointer-events: all;
    }

    .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .current-fonttype {
        display: flex;
        grid-column-gap: calc(var(--kimera-grid-gap) / 2);
      }
    }

    // .close {
    //   opacity: 0;
    //   transition: 0.3s ease opacity;

    //   &.show-close-button {
    //     opacity: 1;
    //     // transition: none;
    //   }
    //   // &:hover {
    //   //     transition: none;
    //   //     opacity: 1;
    //   // }
    // }

    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .timestamp {
        flex: 1;
        // line-height: 1;
        // flex-grow: 1;
        // flex-basis: 0;
        // display: flex;
        // align-items: flex-end;
        padding-left: 0.25em;
      }

      .toggle {
        // flex-grow: 1;
        margin-left: -0.5em;
        margin-bottom: -4px;
      }

      .spacer {
        // flex-basis: 0;
        justify-content: flex-end;
        flex: 1;
      }

      .open-type-features {
        display: flex;
        grid-gap: var(--kimera-grid-gap);
        // z-index: 1;
        pointer-events: all;
      }
    }
  }
}

.mobile-ui {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}
